@import './custom-properties.css';

html {
  font-family: var(--font-family-sans);
  font-size: var(--font-base-size);
  line-height: var(--font-base-line-height);
}

body {
  -webkit-font-smoothing: antialiased;
  background: var(--color-white);
  color: var(--color-black);
  margin: 0;
}

html,
body,
body > div,
body > div > div {
  height: 100%;
}


h2 {
  line-height: 1.2;
  word-spacing: 1px;
  font-weight: 700;
  color: rgb(11, 33, 123);
  font-size: 2.5rem;
}
h1, h2, h3, h4, h5 {
  margin-bottom: 1.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}